/* Sidebar.css */
.sidebar {
    background-color: #f8f9fa;
    color: #495057;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .sidebar-button {
    transition: background-color 0.3s ease;
  }
  
  .sidebar-button:hover {
    background-color: #e9ecef;
  }
  
  .sidebar-content {
    display: flex;
    flex-direction: column;
  }
  
  .brand-logo {
    color: #000;
  }
  
  .menu-item {
    color: #8E92BC;
    font-size: 1.2rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
    -webkit-transition: background-color 0.3s ease, transform 0.3s ease;
    -moz-transition: background-color 0.3s ease, transform 0.3s ease;
    -ms-transition: background-color 0.3s ease, transform 0.3s ease;
    -o-transition: background-color 0.3s ease, transform 0.3s ease;
}
  
  .menu-item:hover {
    color: #000;
    background-color: #e9ecef;
    transform: translateY(-5px);
}
  
  /* Sign Out button */
  .sign-out-button {
    color: #495057;
    margin-top: auto;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .sign-out-button:hover {
    background-color: #e9ecef;
    transform: translateY(-5px);
    box-shadow: 2px 0px 6px rgba(0, 0, 0, 0.1);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
}
  

.menu-item.active {
  background-color: #e9ecef;
  transform: translateY(-5px);
  color: #000;
}